<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.mm.daily</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{MM_BIN}}</string>
    <string>internal</string>
    <string>daily</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>{{HOUR}}</integer>
    <key>Minute</key><integer>{{MINUTE}}</integer>
  </dict>
  <key>StandardOutPath</key><string>{{LOG_DIR}}/daily.log</string>
  <key>StandardErrorPath</key><string>{{LOG_DIR}}/daily.error.log</string>
</dict>
</plist>
